
<div style="background-color: whitesmoke; font-weight: 300; font-size: 13px; text-align: center">
  <table class="table" style="border:none ;" width="100%" cellspacing="0" cellpadding="20" style="font-family: Arial, sans-serif;
            background: #ffffff" align="center">
    <tbody>
      <tr>
        <td align="left" style="color: #000000; background-color: #ffffff; clear: both;">
          <img border="0" alt="OrderWork" src="assets/template/Orderlogo.png">
        </td>
        <td colspan="3" style="color: #000000; background-color: #ffffff; text-align: right;">
          <a href="http://www.orderwork.co.uk">www&#46;orderwork&#46;co&#46;uk</a><br>
          <a href="ciscotel:02030530351">0203 053 0351</a>

        </td>
      </tr>

      <tr>
        <td  align="center" valign="middle" style="color: #ffffff; background-color: #B22A6A;
                        margin: 0 auto; font-weight: 900; font-size: 25px;" colspan="4">
          Bid ended without Winner
        </td>
      </tr>
      <tr>
        <td colspan="4" align="left"
          style="text-align:left;font-size:15.5px;font-weight:normal;font-style:normal;line-height:20px ;font-family: Arial, sans-serif;">
          <p>
            Hi&#44;
          </p>
          <p>
            <p>Bid for the below work order has now ended and no winner was declared&#46;</p>
            <p>Please process manually by order matching to nearby districts or rescheduling the work order if a
              conditional
              offer matches one of the customer’s preferred dates&#46;
            </p>

            <p>Work Order details&#58;</p>
            <p><b>Work order No&#46;&#58; </b><a href="https://devmy.orderwork.co.uk/newportal/login">{{details.WOID}}</a></p>
            <p><b>Service:</b> {{details.ServiceName}}</p>
            <p><b>Location:</b> {{details.customerPostcode}}</p>
            <p><b>Preferred date:</b> {{details.AppointmentDate}} &#45; {{details.Slot}}</p>
            <p><b>Customer phone:</b> {{details.landline}} &#45; {{details.Mobile}}</p>
            <p>Thank you&#46;</p>

            <p>Portal administrator</p>
      
      </td>
      </tr>
      <tr >
        <td width="100%" height="100%" colspan="4" cellspacing="0"
          style="border-spacing:0; text-align:left;font-size:15.5px;font-weight:normal;font-style:normal;line-height:25px border-collapse:collapse">
          <p>Kind regards&#44;&nbsp;<b><br /><br />The OrderWork Team </b><br />
            E-mail&#58; <a href="resourcing@empowereduk.com">resourcing@empowereduk&#46;com</a><br />
            Phone&#58; 0203 053 0348 <br />
          </p>
        </td>
      </tr>
      <tr>
        <td  cellspacing="0" colspan="4" style=" border:none; text-align: left; font-size: 12px; font-weight: normal; font-style: normal;
                        line-height:18px;">         
          <p style="color: #b5b5b5">
           {{details.disclaimer}}
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="4" style="color: #ffffff; background-color: #2e3235; font-size: 15px;" align="left">
          Copyright &copy;<a href="http://orderwork.co.uk/" target="_blank" style="color: White;">
            OrderWork&#46;co&#46;uk&#46; </a>
          All rights reserved&#46;

          <a href="https://linkedin.com/orderworkltd"><img border="0" alt="linkedIn"
              src="assets/template/linkedin.png" align="right" hspace="15"></a>
          <a href="https://twitter.com/orderworkltd"><img border="0" alt="twitter"
              src="assets/template/Twitter.png" align="right" hspace="15" class="col-xs-6"></a>
          <a href="https://facebook.com/orderworkltd"><img border="0" alt="facebook"
              src="assets/template/facebook.png" align="right" hspace="15"></a>
          <a href="tel:02030530343" class="call-us" align="right">
            <img border="0" alt="contact" src="assets/template/contact.png" align="right"
              hspace="15"></a>
            </td>
      </tr>
    </tbody>
  </table>
</div>